/* ------------------------------------------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
/* ------------------------------------------CARD */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  /* align-items: flex-start; */
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 25px 30px;
  border-radius: 8px;
  min-width: 260px;
}
.card img {
  width: 120px;
  border-radius: 50%;
  border: 5px solid #ff9900a4;
  margin-bottom: 1rem;
}
.card h3 {
  font-size: 22px;
  color: #1a1a1a;
}
.card p {
  font-weight: bold;
  color: rgb(90, 90, 90);
}
.card .socials {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}
.socials i {
  font-size: 20px;
}
#discord {
  color: royalblue;
}
.tag {
  padding: 6px;
  border-radius: 12px;
  background-color: #17c96433;
}
.tag p {
  font-size: 12px;
  font-weight: 600;
  color: #006400;
}
/* -----------------------------------CARD2 */

.card2 {
  /* border: 1px solid red; */
  /* padding: 20px 40px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card2 .img {
  background-color: rgba(65, 105, 225, 0.719);
  padding: 10px 70px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card2 .img img {
  border: 5px solid royalblue;
  top: 20px;
  width: 110px;
  border-radius: 50%;
}
.content{
  text-align: center;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.content h3{
  font-size: 20px;
}
.content p{
  font-weight: bold;
  color: rgb(99, 99, 99);
}
.card2 .socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.card2 .socials i{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
padding: 8px;
border-radius: 50%;
}
.buttons{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}
button{
  background-color: rgba(0, 64, 255, 0.925);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 22px;
  font-weight: bold;
}
.card2 .social-info{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.card2 .social-info i{
  font-size: 18px;
  font-family:  Helvetica, sans-serif;
}